force-app/main/default/flows/BT_Quote_Line_Tax_Update_from_BOM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>check_for_null_value</name>
        <label>check for null value</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_BOM_tax_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.buildertek__BOM_Tax__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Line_Update_Tax_on_BOM</targetReference>
            </connector>
            <label>if BOM tax is null</label>
        </rules>
    </decisions>
    <description>When the BOM Tax (%) is pulled in we will use that for the Tax (%) on the Quote Line.</description>
    <environments>Default</environments>
    <interviewLabel>BT Quote Line Tax (%) Update from BOM (%) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BT Quote Line Tax (%) Update from BOM Tax (%)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Quote_Line_Update_Tax_on_BOM</name>
        <label>Quote Line Update Tax (%) on BOM Tax(%)</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Tax__c</field>
            <value>
                <elementReference>$Record.BOM_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_for_null_value</targetReference>
        </connector>
        <object>Quote_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
