force-app/main/default/flows/Clone_BOM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_BOM_Lines</name>
        <label>Clone BOM Lines</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>CloneBOMLines</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_BOM</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CloneIdCollectid</name>
            <value>
                <elementReference>CloneCollection</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_BOM</name>
        <label>Navigate to BOM</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <actionName>buildertek:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordObjectName</name>
            <value>
                <stringValue>BOM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>New_BOMId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_BOM_Line_Id</name>
        <label>Add BOM Line Id</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CloneCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BOMLine_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BOMLine_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_BOM_Id</name>
        <label>Add New BOM Id</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CloneCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_BOMId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_BOMLine</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_BOM_Line_Records</name>
        <label>Check BOM Line Records</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_BOM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BOM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BOMLine_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Clone BOM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone BOM</label>
    <loops>
        <name>BOMLine_Loop</name>
        <label>BOMLine Loop</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_BOMLine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_BOM_Line_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clone_BOM_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_BOM</name>
        <label>Create BOM</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>New_BOMId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_New_BOM_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>BOM_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Project_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Takeoff__c</field>
            <value>
                <elementReference>TakeOff_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version_Number__c</field>
            <value>
                <elementReference>New_Version</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Selection_Sheet_Takeoff__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_BOM</name>
        <label>Get BOM</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone_BOM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Selection_Sheet_Takeoff__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BOMLine</name>
        <label>Get BOMLine</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_BOM_Line_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Selection_Sheet_Takeoff__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Select_Sheet__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone_BOM</name>
        <label>Clone BOM</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_BOM</targetReference>
        </connector>
        <fields>
            <name>Clone_BOM_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Clone_BOM_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BOM_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_BOM.Name__c</elementReference>
                    </defaultValue>
                    <fieldText>BOM Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>TakeOff_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>buildertek__Takeoff__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>TakeOff</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>buildertek__Project_Selection_Sheet_Takeoff__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_BOM.Takeoff__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>New_Version</name>
                    <dataType>String</dataType>
                    <fieldText>New Version</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clone_BOM_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>buildertek__Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>buildertek__Project_Selection_Sheet_Takeoff__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_BOM.Project__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Current_Version</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Current Version: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_BOM.Version_Number__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_BOM</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CloneCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>New_BOMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
