force-app/main/default/flows/Clone_TakeOff.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Clone_Records</name>
        <label>Clone Records</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <actionName>CloneBOM</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_TakeOffLines</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CloneIdCollectid</name>
            <value>
                <elementReference>CloneIdCollection</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_TakeOff</name>
        <label>Navigate to TakeOff</label>
        <locationX>314</locationX>
        <locationY>2606</locationY>
        <actionName>buildertek:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordObjectName</name>
            <value>
                <stringValue>TakeOff</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewTakeOffId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_BOMId</name>
        <label>Add BOMId</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CloneIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BOM_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BOM_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_TakeOffId</name>
        <label>Add New TakeOffId</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CloneIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTakeOffId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_BOM_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_TOL_Collection</name>
        <label>Add to TOL Collection</label>
        <locationX>138</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>TOLCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TOL_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TOL_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Value_to_TOL</name>
        <label>Set Value to TOL</label>
        <locationX>138</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>TOL_Variable.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Project_Takeoff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTakeOffId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.StockKeepingUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.StockKeepingUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Build_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Build_Phase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Product_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_LAST_EST_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_LAST_EST_DATE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Line_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Line_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Trade_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Trade_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_DATE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_DATE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_VERSION__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_VERSION__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.SQFT_LW__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.SQFT_LW__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.UOM_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.UOM_PL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.SQFT_LH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.SQFT_LH__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Length__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Linear_Feet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Linear_Feet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Width__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Width__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Linear_Edge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Linear_Edge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Thickness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Thickness__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Edge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Edge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Height__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Base_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Base_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Location_Detailed_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Location_Detailed_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TL_SERVICE_CATEGORY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TL_SERVICE_CATEGORY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TL_QUANTITY_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TL_QUANTITY_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Slab_SQFT_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Slab_SQFT_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Suppress_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Suppress_Record__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Product_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Product_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.SKUforBOMline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.SKUforBOMline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Price_Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Price_Book__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_BUILD_REF1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_BUILD_REF1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_REC_TYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_REC_TYPE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_SUMMARY_VALUE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_SUMMARY_VALUE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_LOCATION_DETAIL_REF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_LOCATION_DETAIL_REF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_SR_NO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_SR_NO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_SR_NO_SUB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_SR_NO_SUB__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_SUB_ITEM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_SUB_ITEM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_INSTALL_LOC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_INSTALL_LOC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_INSTALL_LOC_REF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_INSTALL_LOC_REF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_LINEAR_FEET__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_LINEAR_FEET__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_SQFT_TOTAL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_SQFT_TOTAL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_YIELD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_YIELD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.Waste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.Waste__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_AREA_REF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_AREA_REF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_SLAB_SF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_SLAB_SF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_MATERIAL_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_MATERIAL_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_TOP_SQFT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_TOP_SQFT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_SINK_CUT_OUT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_SINK_CUT_OUT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_STOVE_CUT_OUT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_STOVE_CUT_OUT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_OTHER_CUT_OUT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_OTHER_CUT_OUT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_UNIT_COUNT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_UNIT_COUNT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_ITEM_COUNT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_ITEM_COUNT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOL_Variable.TO_LINEAR_EDGE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TOL_Loop.TO_LINEAR_EDGE__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_TOL_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_BOM_Records</name>
        <label>Check BOM Records</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_TakeOffLines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BOM_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BOM_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_TakeOff_Lines_Record</name>
        <label>Check TakeOff Lines Record</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_TakeOff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TakeOffLines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TOL_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Status_Options</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Project_Takeoff__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_Options</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Project_Takeoff__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TakeOff_Name</name>
        <dataType>String</dataType>
        <expression>&apos;Clone &apos; + {!Get_TakeOff_Records.Name}</expression>
    </formulas>
    <interviewLabel>Clone TakeOff {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone TakeOff</label>
    <loops>
        <name>BOM_Loop</name>
        <label>BOM Loop</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_BOM_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_BOMId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clone_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>TOL_Loop</name>
        <label>TOL Loop</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <collectionReference>Get_TakeOffLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Value_to_TOL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_TOL_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_TakeOff</name>
        <label>Create TakeOff</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>NewTakeOffId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_New_TakeOffId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TakeOff_Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Build_Phase__c</field>
            <value>
                <elementReference>BuilPhase_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Opportunity_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Project_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TakeOff_date__c</field>
            <value>
                <elementReference>TakeOff_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Takeoff__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_TOL_Records</name>
        <label>Create TOL Records</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Navigate_to_TakeOff</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Copy_1_of_TakeOff_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>TOLCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_BOM_Records</name>
        <label>Get BOM Records</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_BOM_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Takeoff__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Selection_Sheet_Takeoff__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TakeOff_Records</name>
        <label>Get TakeOff Records</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone_TakeOff_with_BOM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Takeoff__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TakeOffLines</name>
        <label>Get TakeOffLines</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_TakeOff_Lines_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Takeoff__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Takeoff_Lines__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone_TakeOff_with_BOM</name>
        <label>Clone TakeOff with BOM</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_TakeOff</targetReference>
        </connector>
        <fields>
            <name>Clone_TakeOff_with_BOM_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Clone_TakeOff_with_BOM_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_TakeOff_Records.Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Status</name>
                    <choiceReferences>Status_Options</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_TakeOff_Records.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Type</name>
                    <choiceReferences>Type_Options</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_TakeOff_Records.Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>TakeOff_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_TakeOff_Records.TakeOff_date__c</elementReference>
                    </defaultValue>
                    <fieldText>TakeOff Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clone_TakeOff_with_BOM_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>buildertek__Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>buildertek__Project_Takeoff__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_TakeOff_Records.Project__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BuilPhase_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>buildertek__Build_Phase__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Build Phase</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>buildertek__Project_Takeoff__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_TakeOff_Records.Build_Phase__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Opportunity_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>buildertek__Project_Takeoff__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>buildertek__Opportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_TakeOff_Records.Opportunity__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Description</name>
                    <defaultValue>
                        <stringValue>{!Get_TakeOff_Records.Description__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_TakeOff_Error_Screen</name>
        <label>Copy 1 of Copy 1 of TakeOff Error Screen</label>
        <locationX>314</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(228, 27, 27);&quot;&gt;{!$Flow.FaultMessage}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TakeOff_Error_Screen</name>
        <label>TakeOff Error Screen</label>
        <locationX>754</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(228, 27, 27);&quot;&gt;{!$Flow.FaultMessage}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TakeOff_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BOM_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Selection_Sheet_Takeoff__c</objectType>
    </variables>
    <variables>
        <name>BOMCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Selection_Sheet_Takeoff__c</objectType>
    </variables>
    <variables>
        <name>BOMIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CloneIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewTakeOffId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TOL_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Takeoff_Lines__c</objectType>
    </variables>
    <variables>
        <name>TOLCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Takeoff_Lines__c</objectType>
    </variables>
</Flow>
