force-app/main/default/flows/count_of_RFI_after_delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>count_of_rfi</name>
        <label>count of rfi</label>
        <locationX>688</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>get_vendor_record.Open_RFI__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_RFQ</targetReference>
        </connector>
    </assignments>
    <interviewLabel>count of RFI after delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>count of RFI after delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_vendor_record</name>
        <label>get vendor record</label>
        <locationX>493</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>count_of_rfi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RFQ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.buildertek__RFQ__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RFQ_To_Vendor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_RFQ</name>
        <label>update RFQ</label>
        <locationX>838</locationX>
        <locationY>184</locationY>
        <inputReference>get_vendor_record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_vendor_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RFQ__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>RFI__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
