force-app/main/default/flows/Count_Of_the_Open_RFI_s.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>add_count_of_open_rfi_in_rfq</name>
        <label>add count of open rfi in rfq</label>
        <locationX>778</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>get_vendor_record.Open_RFI__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_RFI_records_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RFQ</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Count Of the Open RFI&apos;s {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count Of the Open RFI&apos;s</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_RFI_records_list</name>
        <label>get RFI records list</label>
        <locationX>638</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>add_count_of_open_rfi_in_rfq</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RFQ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.buildertek__RFQ__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RFI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_vendor_record</name>
        <label>get vendor record</label>
        <locationX>505</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RFI_records_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RFQ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.buildertek__RFQ__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RFQ_To_Vendor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RFQ</name>
        <label>Update RFQ</label>
        <locationX>779</locationX>
        <locationY>329</locationY>
        <inputReference>get_vendor_record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_vendor_record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RFQ__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>RFI__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>countOfRFIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
