force-app/main/default/flows/deleteinnLine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_value_to_finance_transaction</name>
        <label>Assign value to finance transaction</label>
        <locationX>264</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>iterate_over_finance_transaction.Debit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalDebitAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iterate_over_finance_transaction.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>negativeofdebitamount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_over_finance_transaction</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>FinalDebitAmount</name>
        <dataType>Currency</dataType>
        <expression>{!iterate_over_finance_transaction.Debit_Amount__c}-{!SubTotalofRec}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>negativeofdebitamount</name>
        <dataType>Currency</dataType>
        <expression>{!iterate_over_finance_transaction.Debit_Amount__c}*(-1)</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>SubTotalofRec</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.buildertek__Quantity__c}*{!$Record.buildertek__Unit_Price__c}</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>deleteinnLine {!$Flow.CurrentDateTime}</interviewLabel>
    <label>deleteinnLine</label>
    <loops>
        <name>iterate_over_finance_transaction</name>
        <label>iterate over finance transaction</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>get_Finance_Transaction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_value_to_finance_transaction</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Finance_Transaction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Finance_Transaction</name>
        <label>get Finance Transaction</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_over_finance_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payable_Invoice_AP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Payable_Clone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Finance_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Finance_Transaction</name>
        <label>Update Finance Transaction</label>
        <locationX>176</locationX>
        <locationY>767</locationY>
        <inputReference>iterate_over_finance_transaction</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Finance_Transaction</targetReference>
        </connector>
        <object>Account_Payable_Item_Clone__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
