force-app/main/default/flows/Finance_Transaction_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignvaluetoFinance</name>
        <label>AssignvaluetoFinance</label>
        <locationX>352</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>looping_over_finance_records.Debit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalSubTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>looping_over_finance_records.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NegativeFinalSubTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping_over_finance_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>calnassFinalSubTotal</name>
        <label>calnassFinalSubTotal</label>
        <locationX>440</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>FinalSubTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalFinalSubTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_all_inn_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalnAssSubTotalforEach</name>
        <label>CalnAssSubTotalforEach</label>
        <locationX>440</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SubTotalForEach</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calSubTotalEach</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>calnassFinalSubTotal</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>calculatesubtotal</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.buildertek__Quantity__c}*{!$Record.buildertek__Unit_Price__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>CalFinalSubTotal</name>
        <dataType>Currency</dataType>
        <expression>{!FinalSubTotal}+{!SubTotalForEach}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>calSubTotalEach</name>
        <dataType>Currency</dataType>
        <expression>{!loop_over_all_inn_line.Quantity__c}*{!loop_over_all_inn_line.Unit_Price__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <description>Calculates Final Debit Amount</description>
        <name>FinalDebitAmount</name>
        <dataType>Currency</dataType>
        <expression>{!calculatesubtotal}+{!DebitAmout}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NegativeFinalSubTotal</name>
        <dataType>Currency</dataType>
        <expression>{!FinalSubTotal}*(-1)</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <description>Calculates Negative Value of Debit Amount by taking in the Debit amount</description>
        <name>NegativeValueofDebitAmount</name>
        <dataType>Currency</dataType>
        <expression>{!FinalDebitAmount}*(-1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Finance Transaction Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finance Transaction Update</label>
    <loops>
        <name>loop_over_all_inn_line</name>
        <label>loop over all inn line</label>
        <locationX>352</locationX>
        <locationY>695</locationY>
        <collectionReference>GetInnLine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CalnAssSubTotalforEach</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignvaluetoFinance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>looping_over_finance_records</name>
        <label>looping over finance records</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>get_Finance_recrods</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop_over_all_inn_line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>getting finance record</description>
        <name>get_Finance_recrods</name>
        <label>get Finance recrods</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetInnLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contractor_Invoice_PO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Payable__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Finance_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInnLine</name>
        <label>GetInnLine</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_over_finance_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Payable__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Payable__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Payable_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_records</name>
        <label>Update records</label>
        <locationX>176</locationX>
        <locationY>1367</locationY>
        <inputReference>looping_over_finance_records</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Finance_recrods</targetReference>
        </connector>
        <object>Account_Payable_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Debit amount from finance transaction</description>
        <name>DebitAmout</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>FinalSubTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SubTotalForEach</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <description>Total amount of Finance Transaction</description>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
</Flow>
