force-app/main/default/flows/FinanceTransactionUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_value_to_finance_transaction</name>
        <label>assign value to finance transaction</label>
        <locationX>352</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>iterate_over_finance_transaction.Debit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalSubTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iterate_over_finance_transaction.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>negativeValueofFinalSubTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_over_finance_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalNAssFinalSubTotal</name>
        <label>CalNAssFinalSubTotal</label>
        <locationX>440</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>FinalSubTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalFinalSubTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_over_inn_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalnAssSubTotalofEach</name>
        <label>CalnAssSubTotalofEach</label>
        <locationX>440</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SubTotalofEach</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calSubTotalofEach</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CalNAssFinalSubTotal</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CalFinalSubTotal</name>
        <dataType>Currency</dataType>
        <expression>{!FinalSubTotal}+{!SubTotalofEach}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>calSubTotalofEach</name>
        <dataType>Currency</dataType>
        <expression>{!iterate_over_inn_line.Unit_Price__c}*{!iterate_over_inn_line.Quantity__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>negativeValueofFinalSubTotal</name>
        <dataType>Currency</dataType>
        <expression>(-1)*{!FinalSubTotal}</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>FinanceTransactionUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FinanceTransactionUpdate</label>
    <loops>
        <name>iterate_over_finance_transaction</name>
        <label>iterate over finance transaction</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>get_Finance_Transaction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>iterate_over_inn_line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Finance_Transaction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterate_over_inn_line</name>
        <label>iterate over inn line</label>
        <locationX>352</locationX>
        <locationY>695</locationY>
        <collectionReference>get_inn_line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CalnAssSubTotalofEach</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_value_to_finance_transaction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Finance_Transaction</name>
        <label>get Finance Transaction</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_inn_line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payable_Invoice_AP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Payable_Clone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Finance_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_inn_line</name>
        <label>get inn line</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_over_finance_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Payable_Clone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Payable_Clone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Payable_Item_Clone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Finance_Transaction</name>
        <label>Update Finance Transaction</label>
        <locationX>176</locationX>
        <locationY>1367</locationY>
        <inputReference>iterate_over_finance_transaction</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Finance_Transaction</targetReference>
        </connector>
        <object>Account_Payable_Item_Clone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FinalSubTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SubTotalofEach</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
