force-app/main/default/flows/Finance_Transaction_Total_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assigned_new_total</name>
        <label>assigned new total</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>assigned_total_to_transaction.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NegativeofVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigned_total_to_transaction.Debit_Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TotalCostofLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assigned_total_to_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>store_values</name>
        <label>store values</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>debit_amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assigned_total_to_transaction.Debit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>total_amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assigned_total_to_transaction.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assigned_new_total</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <description>It will have negative value of Total Cost Lie</description>
        <name>NegativeofVar</name>
        <dataType>Currency</dataType>
        <expression>(-1)*{!TotalCostofLine}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>It calculates the total for the line item</description>
        <name>TotalCostofLine</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.buildertek__Unit_Price__c}*{!$Record.buildertek__Quantity__c})+{!debit_amount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Finance Transaction Total Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finance Transaction Total Update</label>
    <loops>
        <name>assigned_total_to_transaction</name>
        <label>assigned total to transaction</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>get_finance_transaction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>store_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_all_transaction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_finance_transaction</name>
        <label>get finance transaction</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assigned_total_to_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contractor_Invoice_PO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Payable__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Finance_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_all_transaction</name>
        <label>update all transaction</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>assigned_total_to_transaction</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_finance_transaction</targetReference>
        </connector>
        <object>Account_Payable_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>debit_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>total_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
