force-app/main/default/flows/FinanceTranUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>InvoiceLine_AR</name>
        <label>InvoiceLine(AR)</label>
        <locationX>440</locationX>
        <locationY>815</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CallnAssSubTotalofEach</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <elementReference>loop_over_inn_line.Tax_Rate__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssigntoFinalTransaction</name>
        <label>AssigntoFinalTransaction</label>
        <locationX>352</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>loop_over_finance_transaction.Credit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalSubTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_over_finance_transaction.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalSubTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_finance_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CallnAssSubTotalofEach</name>
        <label>CallnAssSubTotalofEach</label>
        <locationX>440</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>TaxAmount1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaxAmountCal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalSubTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calSubTotalforEach</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>calnassFinalSubTotal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>calnassFinalSubTotal</name>
        <label>calnassFinalSubTotal</label>
        <locationX>440</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>FinalSubTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalFinalSubTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_inn_line</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CalFinalSubTotal</name>
        <dataType>Currency</dataType>
        <expression>{!FinalSubTotal}+{!SubTotalofEach}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>calSubTotalforEach</name>
        <dataType>Currency</dataType>
        <expression>({!loop_over_inn_line.Quantity__c}*{!loop_over_inn_line.Unit_Price__c})+{!loop_over_inn_line.Tax_Amount__c}+{!TaxAmountCal}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>CalTotal</name>
        <dataType>Number</dataType>
        <expression>({!loop_over_inn_line.Quantity__c}*{!loop_over_inn_line.Unit_Price__c})+({!loop_over_inn_line.Tax_Amount__c})+(({!loop_over_inn_line.Quantity__c}*{!loop_over_inn_line.Unit_Price__c})*({!loop_over_inn_line.Tax_Rate__c}))</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>TaxAmountCal</name>
        <dataType>Currency</dataType>
        <expression>(IF(ISNULL({!loop_over_inn_line.Tax_Rate__c}),0, {!loop_over_inn_line.Tax_Rate__c}))</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>FinanceTranUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FinanceTranUpdate</label>
    <loops>
        <name>loop_over_finance_transaction</name>
        <label>loop over finance transaction</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_FinanceTransaction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop_over_inn_line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateFinanceTransaction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_over_inn_line</name>
        <label>loop over inn line</label>
        <locationX>352</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_all_innline</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InvoiceLine_AR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssigntoFinalTransaction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_innline</name>
        <label>Get all innline</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_finance_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billings__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billings__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billable_Lines__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FinanceTransaction</name>
        <label>Get FinanceTransaction</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_innline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Invoice_AR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billings__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Finance_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateFinanceTransaction</name>
        <label>UpdateFinanceTransaction</label>
        <locationX>176</locationX>
        <locationY>1487</locationY>
        <inputReference>loop_over_finance_transaction</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_FinanceTransaction</targetReference>
        </connector>
        <object>Billable_Lines__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>FinalSubTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SubTotalofEach</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TaxAmount1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Total00</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
