force-app/main/default/flows/onDeleteofLine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_value_to_finance_transaction</name>
        <label>assign value to finance transaction</label>
        <locationX>264</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>looping_over_finance_records.Debit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalFinalDebitAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>looping_over_finance_records.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NegativeValueofFinalDebitAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping_over_finance_records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CalFinalDebitAmount</name>
        <dataType>Currency</dataType>
        <expression>{!looping_over_finance_records.Debit_Amount__c}-{!SubTotalofRec}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>NegativeValueofFinalDebitAmount</name>
        <dataType>Currency</dataType>
        <expression>{!looping_over_finance_records.Debit_Amount__c}*(-1)</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>SubTotalofRec</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.buildertek__Quantity__c}*{!$Record.buildertek__Unit_Price__c}</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>onDeleteofLine {!$Flow.CurrentDateTime}</interviewLabel>
    <label>POonDeleteofLine</label>
    <loops>
        <name>looping_over_finance_records</name>
        <label>looping over finance records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>get_Finance_recrods</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_value_to_finance_transaction</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>getting finance record</description>
        <name>get_Finance_recrods</name>
        <label>get Finance recrods</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_over_finance_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contractor_Invoice_PO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Payable__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Finance_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_records</name>
        <label>Update records</label>
        <locationX>176</locationX>
        <locationY>767</locationY>
        <inputReference>looping_over_finance_records</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Finance_recrods</targetReference>
        </connector>
        <object>Account_Payable_Item__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
