force-app/main/default/flows/Purchase_Order_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>Labor</name>
        <choiceText>Labor</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Material</name>
        <choiceText>Material</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sales</name>
        <choiceText>Sales</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ship_To_Country__c</picklistField>
        <picklistObject>Purchase_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>select type of picklist values</description>
        <name>SelectType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Purchase_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>State</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ship_To_State__c</picklistField>
        <picklistObject>Purchase_Order__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Purchase Order Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Order Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>970</locationX>
        <locationY>341</locationY>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Required_Delivery_Date__c</field>
            <value>
                <elementReference>Required_Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Address__c</field>
            <value>
                <elementReference>Ship_To_Addresses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_City__c</field>
            <value>
                <elementReference>Ship_To_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Country__c</field>
            <value>
                <elementReference>Ship_To_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_State__c</field>
            <value>
                <elementReference>Ship_To_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Zip__c</field>
            <value>
                <elementReference>Ship_To_Zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>SelectType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>Vendors.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>New_Purchase_Order</name>
        <label>New Purchase Order</label>
        <locationX>768</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
        <fields>
            <name>INFORMATIONS</name>
            <fieldText>INFORMATION</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>INFORMATIONS_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vendors</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>buildertek__Vendor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>buildertek__Purchase_Order__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Vendor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>INFORMATIONS_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Required_Delivery_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Required Delivery Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Types</name>
                    <choiceReferences>SelectType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Type</elementReference>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>SHIP_TO_ADDRESS</name>
            <fieldText>SHIP TO ADDRESS</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SHIP_TO_ADDRESS_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ship_To_Addresses</name>
                    <fieldText>Ship To Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Ship_To_City</name>
                    <dataType>String</dataType>
                    <fieldText>Ship To City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Ship_To_State</name>
                    <choiceReferences>State</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Ship To State</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SHIP_TO_ADDRESS_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ship_To_Zip</name>
                    <dataType>String</dataType>
                    <fieldText>Ship To Zip</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Ship_To_Country</name>
                    <choiceReferences>Country</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Ship To Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Type</name>
        <label>Select Type</label>
        <locationX>780</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Purchase_Order</targetReference>
        </connector>
        <fields>
            <name>Type</name>
            <choiceReferences>Sales</choiceReferences>
            <choiceReferences>Material</choiceReferences>
            <choiceReferences>Labor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Select_Type</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vendor</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
