force-app/main/default/flows/Sales_Invoice_AR_Finance_Tr_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Final_Sub_Total</name>
        <label>Assign Final Sub Total</label>
        <locationX>440</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>FinalTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalFinalTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_over_inn_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values_to_finance_transaction</name>
        <label>assign values to finance transaction</label>
        <locationX>352</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>iterate_over_finance_transaction.Credit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iterate_over_finance_transaction.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_over_finance_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cal_and_ass_Value_of_Each</name>
        <label>Cal and ass Value of Each</label>
        <locationX>440</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SubTotalofEach</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalSubTotalEach</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalTaxRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalofEach</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalTotalofEach</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Final_Sub_Total</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CalFinalTotal</name>
        <dataType>Currency</dataType>
        <expression>{!FinalTotal}+{!TotalofEach}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>CalSubTotalEach</name>
        <dataType>Currency</dataType>
        <expression>{!iterate_over_inn_line.Unit_Price__c}*{!iterate_over_inn_line.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalTaxAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(ISNULL({!iterate_over_inn_line.Tax_Amount__c}), 0,{!iterate_over_inn_line.Tax_Amount__c})</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>CalTaxRate</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!iterate_over_inn_line.Tax_Rate__c}), 0,({!iterate_over_inn_line.Tax_Rate__c}/100))</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>CalTotalofEach</name>
        <dataType>Currency</dataType>
        <expression>{!SubTotalofEach}+{!TaxAmount}+({!SubTotalofEach}*{!TaxRate})</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>Sales Invoice (AR) Finance Tr Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Invoice (AR) Finance Tr Update</label>
    <loops>
        <name>iterate_over_finance_transaction</name>
        <label>iterate over finance transaction</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>get_finance_transaction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>iterate_over_inn_line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_finance_transaction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterate_over_inn_line</name>
        <label>iterate over inn line</label>
        <locationX>352</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_all_Inn</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cal_and_ass_Value_of_Each</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_values_to_finance_transaction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Inn</name>
        <label>Get all Inn</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_over_finance_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billings__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billings__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billable_Lines__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_finance_transaction</name>
        <label>get finance transaction</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Inn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Invoice_AR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billings__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Finance_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_finance_transaction</name>
        <label>update finance transaction</label>
        <locationX>176</locationX>
        <locationY>1367</locationY>
        <inputReference>iterate_over_finance_transaction</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_finance_transaction</targetReference>
        </connector>
        <object>Billable_Lines__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FinalTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SubTotalofEach</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TaxAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TaxRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalofEach</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
