force-app/main/default/flows/Update_Schedule_Item_From_PO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_time_to_schedule_item</name>
        <label>assign time to schedule item</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_Schedule_Item.Lead_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_schedule_item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_lead_time_change</name>
        <label>check lead time change</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Time_Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.buildertek__Lead_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Lead_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.buildertek__Schedule_Item__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Schedule_Item__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Schedule_Item</targetReference>
            </connector>
            <label>Lead Time Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_schedule_lead_time</name>
        <label>check schedule lead time</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>time_is_not_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Schedule_Item.Lead_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Lead_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Schedule_Item.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_time_to_schedule_item</targetReference>
            </connector>
            <label>time is not same</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Schedule Item From PO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Schedule Item From PO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Schedule_Item</name>
        <label>Get Schedule Item</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_schedule_lead_time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Schedule_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_schedule_item</name>
        <label>update schedule item</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputReference>Get_Schedule_Item</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_lead_time_change</targetReference>
        </connector>
        <object>Purchase_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
