force-app/main/default/flows/UpdateFinanceTransactiononDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Cal_Total_amount</name>
        <label>Cal Total amount</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>SubTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalSubTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxAmountV</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaxAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaxRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalTaxRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_FinanceTransaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SubFinalAmount</name>
        <label>SubFinalAmount</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>loop_over_finance_transaction.Credit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditAmountofFT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_over_finance_transaction.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_finance_transaction.Credit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_finance_transaction</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CalSubTotal</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.buildertek__Quantity__c}*{!$Record.buildertek__Unit_Price__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>CalTaxRate</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!$Record.buildertek__Tax_Rate__c}), 0,({!$Record.buildertek__Tax_Rate__c}/100))</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>CalTotal</name>
        <dataType>Currency</dataType>
        <expression>{!SubTotal}+{!TaxAmountV}+({!SubTotal}*{!TaxRate})</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>CreditAmountofFT</name>
        <dataType>Currency</dataType>
        <expression>{!loop_over_finance_transaction.Credit_Amount__c}-{!Total}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>SubTotalofRec</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.buildertek__Quantity__c}*{!$Record.buildertek__Unit_Price__c})+(({!$Record.buildertek__Quantity__c}*{!$Record.buildertek__Unit_Price__c})*{!$Record.buildertek__Tax_Rate__c})+{!$Record.buildertek__Tax_Amount__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>TaxAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(ISNULL({!$Record.buildertek__Tax_Amount__c}), 0,{!$Record.buildertek__Tax_Amount__c})</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>UpdateFinanceTransactiononDelete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateFinanceTransactiononDelete</label>
    <loops>
        <name>loop_over_finance_transaction</name>
        <label>loop over finance transaction</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <collectionReference>Get_FinanceTransaction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SubFinalAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateFinanceTransaction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_FinanceTransaction</name>
        <label>Get FinanceTransaction</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_finance_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Invoice_AR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billings__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Finance_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateFinanceTransaction</name>
        <label>UpdateFinanceTransaction</label>
        <locationX>176</locationX>
        <locationY>887</locationY>
        <inputReference>loop_over_finance_transaction</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cal_Total_amount</targetReference>
        </connector>
        <object>Billable_Lines__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>SubTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TaxAmountV</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TaxRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Total</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
