force-app/main/default/flows/UpdateOptionQuatity_SalesPrice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Collections</name>
        <label>Collections</label>
        <locationX>446</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>optionCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>optionList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateOptionField</name>
        <label>updateOptionField</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>optionList.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPRLD.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionList.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPRLD.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionList.Pricing_Request_Line_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPRLD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionList.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOptions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collections</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkForNull</name>
        <label>checkForNull</label>
        <locationX>466</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOptionRelatedPRLD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOptions</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkOptionCollection</name>
        <label>checkOptionCollection</label>
        <locationX>182</locationX>
        <locationY>1583</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>optionCollections</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOptions</targetReference>
            </connector>
            <label>notEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>PRLDisNotNull</name>
        <label>PRLDisNotNull</label>
        <locationX>336</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPRLDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopPRLD</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdateOptionQuatity&amp;SalesPrice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOptionQuatity&amp;SalesPrice</label>
    <loops>
        <name>getOptions</name>
        <label>getOptions</label>
        <locationX>358</locationX>
        <locationY>935</locationY>
        <collectionReference>getOptionRelatedPRLD</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>updateOptionField</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopPRLD</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopPRLD</name>
        <label>LoopPRLD</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>getPRLDetails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getOptionRelatedPRLD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkOptionCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOptionRelatedPRLD</name>
        <label>getOptionRelatedPRLD</label>
        <locationX>466</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkForNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricing_Request_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricing_Request_Line_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopPRLD.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPRLDetails</name>
        <label>getPRLDetails</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PRLDisNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricing_Request_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricing_Request_Line_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Salesprice and Quantity</description>
        <name>updateOptions</name>
        <label>updateOptions</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <inputReference>optionCollections</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPRLDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pricing Complete</stringValue>
            </value>
        </filters>
        <object>Pricing_Request_Line__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>optionCollections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Question__c</objectType>
    </variables>
    <variables>
        <name>optionList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Question__c</objectType>
    </variables>
</Flow>
