force-app/main/default/flows/Update_Build_Phase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_for_service_category_and_Build_Phase</name>
        <label>Check for service category and Build Phase</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_SC_and_BP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.buildertek__Build_Phase__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Option</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.buildertek__TL_SERVICE_CATEGORY__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Option_Build_Phase</targetReference>
            </connector>
            <label>Check SC and BP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Build Phase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Build Phase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Option_Build_Phase</name>
        <label>Get Option Build Phase</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Build_Phase_in_takeoff_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Option</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Build_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Build_Phase_in_takeoff_Line</name>
        <label>Update Build Phase in takeoff Line</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Build_Phase__c</field>
            <value>
                <elementReference>Get_Option_Build_Phase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_service_category_and_Build_Phase</targetReference>
        </connector>
        <object>Project_Takeoff_Lines__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
