force-app/main/default/flows/View_Client_Selections.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Category_Id_to_List</name>
        <label>Add Category Id to List</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>listOfCategories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCategories.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCategories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Category_Id_to_List_ALL</name>
        <label>Add Category Id to List ALL</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>listOfCategories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCategoriesALL.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCategoriesALL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Type_Id_to_List_ALL</name>
        <label>Add Type Id to List ALL</label>
        <locationX>490</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>listOfTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTypesALL.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTypesALL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Category_Id_to_List</name>
        <label>Add Type Id to List</label>
        <locationX>842</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>listOfTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMasterOptions</name>
        <label>SetMasterOptions</label>
        <locationX>754</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>GetOptionsMaster</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Options</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Running_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMasterOptionsAll</name>
        <label>SetMasterOptionsALL</label>
        <locationX>402</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>GetOptionsMaster</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Options_ALL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Running_Profile</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>All</name>
        <choiceText>All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>check profile to decide which screen to present</description>
        <name>Check_Running_Profile</name>
        <label>Check Running Profile</label>
        <locationX>578</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Insufficient_Privileges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAdmin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NH Administration EXTRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator - NEW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NH Administration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Selections_Admin</targetReference>
            </connector>
            <label>isAdmin</label>
        </rules>
        <rules>
            <name>isSales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NH Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Selections_Sales</targetReference>
            </connector>
            <label>isSales</label>
        </rules>
        <rules>
            <name>isConstruction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NH Construction Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Selections_Construction</targetReference>
            </connector>
            <label>isConstruction</label>
        </rules>
        <rules>
            <name>isManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NH Managers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Selections_Managers</targetReference>
            </connector>
            <label>isManager</label>
        </rules>
    </decisions>
    <decisions>
        <name>ViewAllSheets</name>
        <label>ViewAllSheets</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Selections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>View_All_Sheets2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_Selections2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>All</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selections_ALL</targetReference>
            </connector>
            <label>View All Sheets</label>
        </rules>
    </decisions>
    <description>a flow to view all Client Selections &amp; their related Selection records</description>
    <dynamicChoiceSets>
        <name>getRelatedSelections</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>buildertek__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>buildertek__Selection__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>View Client Selections {!$Flow.CurrentDateTime}</interviewLabel>
    <label>View Client Selections</label>
    <loops>
        <name>LoopCategories</name>
        <label>LoopCategories</label>
        <locationX>754</locationX>
        <locationY>758</locationY>
        <collectionReference>GetCategoriesSet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Category_Id_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCategoriesALL</name>
        <label>LoopCategoriesALL</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Categories_ALL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Category_Id_to_List_ALL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Types_ALL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTypes</name>
        <label>loopTypes</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Add_Category_Id_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Options</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTypesALL</name>
        <label>loopTypesALL</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Types_ALL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Type_Id_to_List_ALL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Options_ALL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Categories_ALL</name>
        <label>Get Categories ALL</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCategoriesALL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Project_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>buildertek__Section__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Options</name>
        <label>Get Options</label>
        <locationX>754</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetMasterOptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>buildertek__Question_Group__c</field>
            <operator>In</operator>
            <value>
                <elementReference>listOfTypes</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>buildertek__Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Options_ALL</name>
        <label>Get Options ALL</label>
        <locationX>402</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetMasterOptionsAll</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>buildertek__Question_Group__c</field>
            <operator>In</operator>
            <value>
                <elementReference>listOfTypes</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>buildertek__Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selections</name>
        <label>Get Selections</label>
        <locationX>754</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCategoriesSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRelatedSelections</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>buildertek__Selection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selections_ALL</name>
        <label>Get Selections ALL</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Categories_ALL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>buildertek__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>buildertek__Selection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Types</name>
        <label>Get Types</label>
        <locationX>754</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>buildertek__Section__c</field>
            <operator>In</operator>
            <value>
                <elementReference>listOfCategories</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>buildertek__Question_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Types_ALL</name>
        <label>Get Types ALL</label>
        <locationX>402</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopTypesALL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>buildertek__Section__c</field>
            <operator>In</operator>
            <value>
                <elementReference>listOfCategories</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>buildertek__Question_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCategoriesSet</name>
        <label>Get Categories</label>
        <locationX>754</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCategories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>buildertek__Selection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRelatedSelections</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>buildertek__Section__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProjectDetails</name>
        <label>GetProjectDetails</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Client_Selections_to_View</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>buildertek__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Client_Selections_Admin</name>
        <label>Client Selections Admin</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>projectName</name>
            <fieldText>&lt;p&gt;Viewing &lt;strong&gt;{!GetProjectDetails.Name} &lt;/strong&gt;Client Selections&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Client_Selections_Admin_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Client_Selections_Admin_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PrintButton</name>
            <extensionName>c:printFlowScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionCollection</name>
                <value>
                    <elementReference>GetOptionsMaster</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>projName</name>
                <value>
                    <elementReference>GetProjectDetails.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Client_Selections_Admin_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Client_Selections_Admin_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>viewSelectionOptions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>buildertek__Question__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>buildertek__Question__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetOptionsMaster</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,buildertek__Pricing_Request_Line__c,buildertek__Change_Order__c,buildertek__Purchase_Order__c,Selection_Status__c,buildertek__Upgrade__c,buildertek__Question_Group__c,Product_Vendor__c,buildertek__Quantity__c,buildertek__Total_Sales_Price__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:139, buildertek__Pricing_Request_Line__c:166, buildertek__Change_Order__c:138, buildertek__Purchase_Order__c:140, Selection_Status__c:88, buildertek__Upgrade__c:110, buildertek__Question_Group__c:130, Product_Vendor__c:137, buildertek__Quantity__c:100, buildertek__Total_Sales_Price__c:145</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom24</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Options</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>buildertek__Quantity__c:left, buildertek__Total_Sales_Price__c:left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, buildertek__Question_HTML__c:true, buildertek__Product__c:false, Product_Vendor__c:false, buildertek__Quantity__c:false, buildertek__Total_Sales_Price__c:false, buildertek__Question_Group__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>buildertek__Quantity__c:Qty., Selection_Status__c:Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Client_Selections_Admin_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Client_Selections_Admin_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Client_Selections_Admin_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Client_Selections_Admin_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Client_Selections_Admin_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Client_Selections_Construction</name>
        <label>Client Selections Construction</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_projectName</name>
            <fieldText>&lt;p&gt;Viewing &lt;strong&gt;{!GetProjectDetails.Name} &lt;/strong&gt;Client Selections&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_viewSelectionOptions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>buildertek__Question__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>buildertek__Question__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetOptionsMaster</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,buildertek__Change_Order__c,buildertek__Purchase_Order__c,Selection_Status__c,buildertek__Upgrade__c,buildertek__Question_Group__c,buildertek__Quantity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:139, buildertek__Change_Order__c:138, buildertek__Purchase_Order__c:140, Selection_Status__c:88, buildertek__Upgrade__c:110, buildertek__Question_Group__c:130, buildertek__Quantity__c:100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom24</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Options</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>buildertek__Quantity__c:left, buildertek__Total_Sales_Price__c:left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, buildertek__Question_HTML__c:true, buildertek__Product__c:false, Product_Vendor__c:false, buildertek__Quantity__c:false, buildertek__Total_Sales_Price__c:false, buildertek__Question_Group__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>buildertek__Quantity__c:Qty., Selection_Status__c:Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Client_Selections_Managers</name>
        <label>Client Selections Managers</label>
        <locationX>842</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_3_of_projectName</name>
            <fieldText>&lt;p&gt;Viewing &lt;strong&gt;{!GetProjectDetails.Name} &lt;/strong&gt;Client Selections&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_3_of_viewSelectionOptions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>buildertek__Question__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>buildertek__Question__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetOptionsMaster</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,buildertek__Pricing_Request_Line__c,buildertek__Change_Order__c,buildertek__Purchase_Order__c,Selection_Status__c,buildertek__Upgrade__c,buildertek__Question_Group__c,Product_Vendor__c,buildertek__Quantity__c,buildertek__Total_Sales_Price__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:139, buildertek__Pricing_Request_Line__c:166, buildertek__Change_Order__c:138, buildertek__Purchase_Order__c:140, Selection_Status__c:88, buildertek__Upgrade__c:110, buildertek__Question_Group__c:130, Product_Vendor__c:137, buildertek__Quantity__c:100, buildertek__Total_Sales_Price__c:145</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom24</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Options</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>buildertek__Quantity__c:left, buildertek__Total_Sales_Price__c:left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, buildertek__Question_HTML__c:true, buildertek__Product__c:false, Product_Vendor__c:false, buildertek__Quantity__c:false, buildertek__Total_Sales_Price__c:false, buildertek__Question_Group__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>buildertek__Quantity__c:Qty., Selection_Status__c:Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Client_Selections_Sales</name>
        <label>Client Selections Sales</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_projectName</name>
            <fieldText>&lt;p&gt;Viewing &lt;strong&gt;{!GetProjectDetails.Name} &lt;/strong&gt;Client Selections&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_viewSelectionOptions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>buildertek__Question__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>buildertek__Question__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetOptionsMaster</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,buildertek__Change_Order__c,buildertek__Purchase_Order__c,Selection_Status__c,buildertek__Upgrade__c,buildertek__Question_Group__c,buildertek__Quantity__c,buildertek__Total_Sales_Price__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:139, buildertek__Change_Order__c:138, buildertek__Purchase_Order__c:140, Selection_Status__c:88, buildertek__Upgrade__c:110, buildertek__Question_Group__c:130, buildertek__Quantity__c:100, buildertek__Total_Sales_Price__c:145</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom24</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Options</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>buildertek__Quantity__c:left, buildertek__Total_Sales_Price__c:left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, buildertek__Question_HTML__c:true, buildertek__Product__c:false, Product_Vendor__c:false, buildertek__Quantity__c:false, buildertek__Total_Sales_Price__c:false, buildertek__Question_Group__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>buildertek__Quantity__c:Qty., Selection_Status__c:Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insufficient_Privileges</name>
        <label>Insufficient Privileges</label>
        <locationX>1106</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Insufficient privileges please contact your Salesforce Administrator for help.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Client_Selections_to_View</name>
        <label>Select Client Selections to View</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ViewAllSheets</targetReference>
        </connector>
        <fields>
            <name>Client_Selections2</name>
            <choiceReferences>getRelatedSelections</choiceReferences>
            <choiceReferences>All</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Client Selections</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProjectDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetOptionsMaster</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__Question__c</objectType>
    </variables>
    <variables>
        <name>listOfCategories</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>listOfTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the related Project</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
